@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
.toUp {
  animation: hideButton 1s forwards;
}
#canvas {
  animation: hideParticless 1.3s 0.8s forwards;
}
@keyframes hideButton {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes hideParticless {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
